

@media (max-width: 500px){
    .my_schedule {
        grid-column: 1 / 2;
        grid-row: 2  / 3;

        height: 450px;
        padding: 0 2rem;
    }

    .table_my_schedule {
        overflow-x: scroll;
    }

    table {
        width: 800px;
    }

    ::-webkit-scrollbar {
        width: 5px;
    }

    .my_schedule::-webkit-scrollbar {
        height: 5px;
    }
    
    ::-webkit-scrollbar-thumb {
        background-color: var(--color-blue); 
        border-radius: 6px; 
    }
    
    ::-webkit-scrollbar-track {
        background-color: var(--color-black);
    }

    table tr td:first-child {
        width: 140px;
    }
    
    .nav {
        padding: 1rem 2rem;
    }
    
    .logo {
        font-size: 1.8rem;
    }
}
