
@import url('fuentes-colors.css'); 

.main {
    height: 100vh;
    display: grid;
    grid-template-columns: 60px 1fr;
    grid-template-rows: auto;
}

.options {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    border-right: 1px groove var(--color-gris);
    box-shadow: 1px 1px 2px 2px var(--color-gris-claro);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

.icon {
    padding: .5rem;
    border-radius: 15px;
    cursor: pointer;
    transition: 1s ease;
}

.icon:hover .courses > path {
    stroke: var(--color-purple);
}

.apply-courses, .apply-routes, .apply-horary, .apply-feeding {
    background-color: var(--color-gris-claro);
    box-shadow: 1px 1px 5px 1px var(--color-gris-claro);
    border-radius: 15px;
    cursor: pointer;    
    padding: .5rem;
}

.str-courses #svg-courses > path {
    stroke: var(--color-purple);
}

.strfill-routes #svg-routes > path {
    stroke: var(--color-blue);
    fill: var(--color-blue);
}

.strfill-horary #svg-horary > path {
    stroke: var(--color-blue-claro);
    fill: var(--color-blue-claro);
}

.strfill-feeding #svg-feeding > path {
    stroke: var(--color-green);
    fill: var(--color-green);
}

.icon:hover .routes > path {
    stroke: var(--color-blue);
    fill: var(--color-blue);
}

.icon:hover .horary > path {
    stroke: var(--color-blue-claro);
    fill: var(--color-blue-claro);
}

.icon:hover .feeding > path {
    stroke: var(--color-green);
    fill: var(--color-green);
}

.see-options {
    grid-column: 2 / 3;
    grid-row: 1 / 2;  

    display: flex;
    align-items: center;
    justify-content: center;
}

#show-courses, #show-routes, #show-horary, #show-feeding {
    display: none;
}

.red-social-p {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.social {
    display: flex;
    gap: .5rem;
}

.social a svg > path {
    fill: var(--color-black-text);
}

.follow {
    font-size: .9rem;
    text-align: center;
}

.stf {
    text-decoration: none;
    border: 2.9px solid var(--color-black-text);
    border-radius: 100%;
    padding: 0 .2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fb {
    font-size: 1.1rem;
    font-weight: bold;
    color: var(--color-black-text);
}

/* CURSOS */

.set-courses {
    height: 500px;
    width: 900px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;

    padding: 1rem;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 5px;
}


.rutas {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
}

.group_ritems {
    display: flex;
    flex-direction: column;
    width: 178px;
}

.name_ruta_icon {
    display: flex;
    flex-direction: column;
}

.icon_ruta {
    color: var(--color-blue-claro);
    text-align: center;
}

.icon_diplomado {
    color: var(--color-marron-claro);
    text-align: center;
}

.courses_ruta {
    display: flex;
    flex-direction: column;
    gap: .3rem;
    padding-right: 1.5rem;
}

.lcr {
    margin-top: 1rem;
    border: 1px solid var(--color-blue-claro);
    width: 170px;
    border-radius: 10px;
    padding: .4rem 0;
    text-align: center;
    text-decoration: none;
    color: var(--color-black-text);
    font-size: .8rem;
    font-weight: 300;
    transition: 1s ease;
}

.lcr:hover {
    box-shadow: 0px 0px 5px 1px var(--color-blue-claro);
    color: var(--color-blue-claro);
    transition: 1s ease;
}

.lcd {
    margin-top: 1rem;
    border: 1px solid var(--color-marron);
    width: 170px;
    border-radius: 10px;
    padding: .4rem 0;
    text-align: center;
    text-decoration: none;
    color: var(--color-black-text);
    font-size: .8rem;
    font-weight: 300;
    transition: 1s ease;
}

.lcd:hover {
    box-shadow: 0px 0px 5px 1px var(--color-marron-claro);
    color: var(--color-marron-claro);
    transition: 1s ease;
}

.sets {
    display: flex;
    flex-direction: column;
    gap: .6rem;

    box-shadow: 1px 1px 10px 2px var(--color-gris-claro);
    border-radius: 10px;
    padding: 1rem;
    width: 370px;
}

.language {
    font-weight: bold;
    color: var(--color-black-text);
}

.links {
    display: flex;
    flex-wrap: wrap;
    gap: .3rem;
}

.lc {
    border: 1px solid var(--color-purple);
    width: 170px;
    padding: .4rem 0;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    color: var(--color-black-text);
    font-size: .8rem;
    font-weight: 300;
    transition: 1s ease;
}

.lc:hover {
    box-shadow: 0px 0px 5px 1px var(--color-purple);
    color: #7457af;
    transition: 1s ease;
}


/* RUTAS */

.setsr {
    display: flex;
    flex-direction: column;
    gap: .5rem;

    padding: 1rem 2rem;
    height: 240px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px 2px var(--color-gris-claro);
}

.setsr:hover {
    box-shadow: 1px 1px 10px 2px #087fc423;
}

.set-routes {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;

    height: 500px;
    width: 850px;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 5px;
}

.lgr {
    font-weight: bold;
}

.frame-bltca {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.fb {
    display: flex;
    flex-direction: column;
    gap: .3rem;
}

.title-fb {
    font-size: .9rem;
    color: var(--color-blue);
    font-weight: 300;
}

.org-fb ul li::marker {
    content: '- ';
}


/* HORARIO */

.my_schedule {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.remember_today {
    font-size: .8rem;
    color: var(--color-black-text);
    font-weight: 300;
}

table {
    box-shadow: 1px 1px 10px 1px var(--color-gris-claro);
}

table, th, td {
    border: 3px solid var(--color-gris-claro);
    border-collapse: collapse;
}

th, td {
    padding: 1rem;
    text-align: center;
    color: var(--color-black-text);
    font-weight: 300;
}

th {
    font-weight: 600;
}

td {
    font-size: .8rem;
}

.rest {
    background-color: var(--color-gris);
}


/* Alimentación */

.show-code {
    height: 100vh;
    width: 92.66%;
    position: absolute;

    display: flex;
    align-items: center;
    justify-content: center;

    background: rgba(255, 255, 255, 0.5); /* Fondo semi-transparente */
    backdrop-filter: blur(10px); /* Aplica el desenfoque */
    -webkit-backdrop-filter: blur(10px); /* Soporte para navegadores WebKit */
    padding: 20px; /* Opcional: agrega padding interno */
    }

    .i-code {
        width: 500px;
        padding: 1rem;
    }

    .info {
        font-weight: 300;
        font-size: .9rem;
        color: var(--color-white);
    }

    .input-button {
        margin-top: 1rem;
        display: flex;
        gap: .5rem;
    }

    .input-code {
        padding: .5rem;
        width: 240px;
        border-radius: 10px;
        outline: none;
        border: none;
        font-size: .8rem;
    }

    #btn-validar {
        outline: none;
        padding: .5rem;
        width: 190px;
        border-radius: 10px;
        background-color: initial;
        border: 1px solid var(--color-green);
        box-shadow: 0px 0px 5px 1px var(--color-green);
        color: var(--color-white);
        cursor: pointer;
    }

    #btn-validar:hover {
        background-color: var(--color-green);
    }

    #show-feeding {
        width: 100%;
    }

    .my-feeding {
        height: 100vh;

        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: .1rem;
    }

    .feed1, .feed2, .feed3, .feed4, .feed5, .feed6, .feed7, .feed8 {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .black {
        width: 100%;
        height: 100%;
        background-color: var(--color-black-transparente);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .name-feed {
        font-size: .9rem;
        font-weight: 300;
        color: var(--color-white);
    }


    .feed1 {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        background-image: url('https://mandolina.co/wp-content/uploads/2023/09/pechuga-de-pollo-1080x550-1.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }


    .feed2 {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        background-image: url('https://images.ecestaticos.com/dv6CmyC8ui1EfYca6mOwWThwM3U=/1x121:2268x1396/1600x900/filters:fill(white):format(jpg):quality(99)/f.elconfidencial.com/original/08c/868/7aa/08c8687aa28ffd3c6c3a473598205af2.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .feed3 {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
        background-image: url('https://erizorestaurante.com.mx/wp-content/uploads/2023/11/pescado-frito.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .feed4 {
        grid-column: 4 / 5;
        grid-row: 1 / 2;
        background-image: url('https://www.recetasnestlecam.com/sites/default/files/styles/crop_article_banner_desktop_nes/public/2023-02/cuenco-con-yogurt-griego.jpg%20banner%20desktop.jpg?itok=jXAQUTrv');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .feed5 {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        background-image: url('https://granvita.com/wp-content/uploads/2021/04/que-es-avena-portada.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .feed6 {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSqGqrO37WhJyAqcvgpgLdkU75m-DRXdGEKW2sMwuJKOkw6ASz65NNTjYhYn3OeEdFPXzw&usqp=CAU');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .feed7 {
        grid-column: 3 / 4;
        grid-row: 2 / 3;
        background-image: url('https://www.paulinacocina.net/wp-content/uploads/2023/04/lentejas-con-verduras.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .feed8 {
        grid-column: 4 / 5;
        grid-row: 2 / 3;
        background-image: url('https://imag.bonviveur.com/como-hacer-frijoles.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .feed9 {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
        background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR7kZ_vmuY37WTc6LMD1v-gk6LeVfKBxk55Pw&s');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .feed10 {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
        background-image: url('https://www.comedera.com/wp-content/uploads/2022/04/Sardina-en-salsa-de-tomate-shutterstock_529239817.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .feed11 {
        grid-column: 3 / 4;
        grid-row: 3 / 4;
        background-image: url('https://s1.elespanol.com/2020/04/03/ciencia/nutricion/leche-ganaderia-nutricion_479713685_149674077_1706x960.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .feed12 {
        grid-column: 4 / 5;
        grid-row: 3 / 4;
        background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQTEAZ8Ay6awzllIbqP6U7f3wdHZv-3-AbIZQ&s');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    /* MEDIA QUERY */

    @media (max-width: 500px){
        .main {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 60px 1fr;
        }

        .options {
            grid-column: 1 / 3;
            grid-row: 1 / 2;
            border-bottom: 1px groove var(--color-gris);
            box-shadow: 1px 1px 2px 2px var(--color-gris-claro);
            flex-direction: row;
        }
        
        .see-options {
            grid-column: 1 / 3;
            grid-row: 2 / 3;  
        }
        
        /* CURSOS */
        
        .set-courses {
            width: 300px;
        }

        .rutas {
            width: 100%;
        }

        .group_ritems {
            width: 100%;
            align-items: center;
        }
        
        .lcr, .lcd {
            width: 250px;
        }

        .name_ruta_icon {
            display: flex;
            flex-direction: column;
        }

        .icon_ruta {
            color: var(--color-blue-claro);
            text-align: center;
        }

        .courses_ruta {
            padding-right: 0;
        }

        .sets {
            width: 260px;
        }

        .lc {
            width: 250px;
        }

        /* RUTAS */

        .set-routes {
            flex-direction: row;
            box-sizing: border-box;
            padding: 2rem 0;
            width: 350px;
        }

        /* HORARIO */

        .my_schedule {
            width: 340px;
            overflow-x: scroll;
        }

        table {
            width: 900px;
        }

        /* Alimentación */

    .show-code {
        width: 320px;
    }

    .i-code {
        width: 300px;
        text-align: center;
    }

    .input-button {
        flex-direction: column;
        align-items: center;
    }

    .input-code {
        width: 260px;
    }

    #btn-validar {
        width: 270px;
    }

    .my-feeding {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(12, 1fr);
    }

    .feed1 {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .feed2 {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    .feed3 {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    } 

    .feed4 {
        grid-column: 1 / 2;
        grid-row: 4 / 5;
    }

    .feed5 {
        grid-column: 1 / 2;
        grid-row: 5 / 6;
    }

    .feed6 {
        grid-column: 1 / 2;
        grid-row: 6 / 7;
    }

    .feed7 {
        grid-column: 1 / 2;
        grid-row: 7 / 8;
    }

    .feed8 {
        grid-column: 1 / 2;
        grid-row: 8 / 9;
    }

    .feed9 {
        grid-column: 1 / 2;
        grid-row: 9 / 10;
    }

    .feed10 {
        grid-column: 1 / 2;
        grid-row: 10 / 11;
    }

    .feed11 {
        grid-column: 1 / 2;
        grid-row: 11 / 12;
    }

    .feed12 {
        grid-column: 1 / 2;
        grid-row: 12 / 13;
    }

}